.forgetAttackUI {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	grid-template-columns: repeat(1, 1fr);
	background-color: #fafafa;
	border: 2px solid orange;
	z-index: 4;
}

.attacksForgetContent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.attacksHeader {
	padding: 10px;
	font-size: 10px;
	background-color: #ffc861;
	color: #fafafa;
	text-shadow: 1px 1px #000;
	border: 1px solid orange;
}

.attacksInfoSection {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.attackMonster {
	display: flex;
	align-items: center;
	font-size: 8px;
	background-color: #dab3ff;
	border: 2px solid violet;
	color: #fafafa;
	text-shadow: 1px 1px #000;
}

.attackMonImg {
	width: 40px;
	padding: 0 10px;
}

.attackMonName {
	font-size: 9px
}

.attackInfoName {
	background-color: #9f9f9f;
	color: #fafafa;
	padding: 3px;
	border-radius: 9px;
	text-shadow: 1px 1px #000;
	width: 70px;
	text-align: center;
	margin: 5px 10px 5px 0;
}

.attackInfoType {
	background-color: #9f9f9f;
	color: #fafafa;
	padding: 2px;
	border-radius: 9px;
	text-shadow: 1px 1px #000;
	width: 60px;
	text-align: center;
	margin: 0 1px 0 0;
}

.attackInfoVal {
	background-color: #fafafa;
	padding: 5px;
	border-radius: 6px;
	width: 40px;
}

.attacksDescription {
	font-size: 8px;
	padding: 10px;
	background-color: #b4ffb4;
	border: 2px solid #52d652;
}

.attackDesInfo {
	background-color: #fafafa;
	padding: 10px 5px 5px 5px;
	margin-top: -4px;
	border-radius: 6px;
	line-height: 15px;
	height: 100px
}

.forgetAttackBtns {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.attackMenuBtn {
	position: relative;
	text-align: left;
	padding: 5px 2px;
	border: 2px solid #ffd280;
}

.attackTypeAndName {
	display: flex;
	align-items: center;
}

.forgetAttackExec {
	position: absolute;
	right: 2px;
	bottom: 2px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.forgetAttackBtns {
		top: 60%;
		right: 0;
		left: 60%;
	}

	.attackDesInfo {
		height: 120px
	}
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.attacksHeader {
		font-size: 18px;
	}

	.forgetAttackBtns {
		top: 70%;
		right: 0;
		left: 50%;
	}

	.attackInfoType {
		width: 100px;
		margin: 0 5px 0 0;
	}

	.attackMonImg {
		width: 70px;
	}

	.attackMonster {
		font-size: 9px;
	}

	.attackMonName {
		font-size: 13px;
	}

	.attacksDescription {
		font-size: 12px;
	}

	.attackInfoName {
		width: 100px;
	}

	.attackDesInfo {
		line-height: 20px;
	}

	.attackDesInfo {
		height: 200px;
	}

}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.forgetAttackBtns {
		top: 50%;
		right: 0;
		left: 60%;
	}

	.attacksHeader {
		font-size: 18px;
	}

	.forgetAttackBtns {
		top: 70%;
		right: 0;
		left: 50%;
	}

	.attackInfoType {
		width: 100px;
		margin: 0 5px 0 0;
	}

	.attackMonImg {
		width: 70px;
	}

	.attackMonster {
		font-size: 9px;
	}

	.attackMonName {
		font-size: 13px;
	}

	.attacksDescription {
		font-size: 12px;
	}

	.attackInfoName {
		width: 100px;
	}

	.attackDesInfo {
		line-height: 20px;
	}

	.attackDesInfo {
		height: 200px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */