/* Enemy info window */
.enemyTrainerInfoSection,
.enemyInfoSection {
  position: absolute;
  top: 20px;
  left: 0;
  width: 140px;
  font-size: 9px;
  background-color: #fff;
  border: 2px solid orange;
  padding: 4px;
  opacity: 1;
  display: none;
}

.enemyNameWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wildCatchedBall {
  width: 14px;
}

/* Player info window */
.playerMonsterInfoSection,
.playerInfoSection {
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 140px;
  font-size: 9px;
  background-color: #fff;
  border: 2px solid orange;
  padding: 4px;
  opacity: 1;
  display: none;
}

.monsterCount {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.monBallCount {
  margin-right: 8px;
  width: 15px;
}

/* Info content */
.nameLvlWrap {
  display: flex;
  align-items: center;
}

.lvlSection {
  margin: 6px 0 0 0;
  font-size: 7px;
  color: #878787;
}

.hpSection {
  font-size: 7px;
  color: #878787;
  margin: 6px 0 0 0;
}

.battleMonInfoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HPBar {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  color: #28b328;
  margin: 0;
}

.HPBar::-moz-progress-bar {
  background: #28b328;
}

progress.HPBar::-webkit-progress-value {
  background: #28b328;
}

/* yellow progress hp */
.HPBarYellow::-moz-progress-bar {
  background: #ebc12c;
}

progress.HPBarYellow::-webkit-progress-value {
  background: #ebc12c;
}

.HPBarYellow {
  color: #ebc12c;
}

/* red progress hp */
.HPBarRed::-moz-progress-bar {
  background: #eb2d2d;
}

progress.HPBarRed::-webkit-progress-value {
  background: #eb2d2d;
}

.HPBarRed {
  color: #eb2d2d;
}

progress.XPBar {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  color: #0066ff;
}

.XPBar::-moz-progress-bar {
  background: #0066ff;
}

progress.XPBar::-webkit-progress-value {
  background: #0066ff;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

  .enemyTrainerInfoSection,
  .enemyInfoSection {
    top: 20px;
    width: 160px;
    height: fit-content;
    margin: 0 0 0 10px;
  }

  .playerMonsterInfoSection,
  .playerInfoSection {
    bottom: 30%;
    width: 160px;
    margin: 0 10px 0 0;
  }


}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

  .enemyTrainerInfoSection,
  .enemyInfoSection {
    width: 280px;
    font-size: 13px;
    left: 20px;
    padding: 14px;
  }

  .playerInfoSection,
  .playerMonsterInfoSection {
    width: 280px;
    font-size: 13px;
    right: 20px;
    padding: 14px;
  }

  .lvlSection {
    margin: 10px 0 0 0;
    font-size: 10px;
  }

  .hpSection {
    font-size: 10px;
    margin: 10px 0 0 0;
  }

  .monBallCount {
    width: 20px;
  }
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

  .enemyTrainerInfoSection,
  .enemyInfoSection {
    bottom: 500px;
    width: 280px;
    font-size: 13px;
    left: 20px;
    padding: 14px;
  }

  .playerInfoSection,
  .playerMonsterInfoSection {
    width: 280px;
    font-size: 13px;
    right: 20px;
    padding: 14px;
  }

  .lvlSection {
    margin: 10px 0 0 0;
    font-size: 10px;
  }

  .hpSection {
    font-size: 10px;
    margin: 10px 0 0 0;
  }

  .monBallCount {
    width: 20px;
  }
}

/* Desktop  */
@media only screen and (min-width: 1024px) {

  .enemyTrainerInfoSection,
  .enemyInfoSection {
    top: 40px;
    bottom: unset;
  }

}