.gameWrap {
  position: relative;
  display: inline-block;
  /* border-top: 1px solid #242424; */
  border-bottom: 3px solid #303030
}

.pauseMenu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 25%;
  left: 60%;
  display: none;
  margin: 10px;
  grid-template-columns: repeat(1, 1fr);
  background-color: #fafafa;
  border: 2px solid orange;
  border-radius: 0 10px;
}

.dialog {
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #fff;
  border: 2px solid orange;
  display: none;
  cursor: pointer;
  z-index: 3;
  line-height: 14px;
  font-size: 9px;
}

.inventoryPC {
  position: absolute;
  top: 0;
  right: 55%;
  bottom: 50%;
  left: 0;
  display: none;
  grid-template-columns: repeat(1, 1fr);
  background-color: #fafafa;
  font-size: 10px;
  z-index: 2;
  margin: 10px;
  border: 2px solid orange;
}

.itemList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;
  border: 2px solid orange;
  display: none;
  z-index: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.itemList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.itemList {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.itemWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
}

.itemWrap:hover,
.itemWrap:focus {
  background-color: #ff9900;
}

.QAWrap {
  position: absolute;
  right: 0;
  left: 70%;
  bottom: 24%;
  display: none;
  grid-template-columns: repeat(1, 1fr);
  border: 2px solid orange;
  z-index: 2;
}

.yesNoBtn {
  padding: 10px;
  font-size: 8px;
}

.noMonsMsg {
  font-size: 9px;
  text-align: center;
  line-height: 16px;
  margin: 20px 5px
}

.locationWindow {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: #fafafa;
  font-size: 10px;
  padding: 6px 20px;
  border: 2px solid orange;
  display: none;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

  .gameWrap {
    border-top: none;
    border-bottom: none;
    border-left: 3px solid #303030;
    border-right: 3px solid #303030
  }

  .dialog {
    padding: 6px;
    line-height: 16px;
  }

  .QAWrap {
    left: 76%;
  }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

  .dialog {
    padding: 10px;
    line-height: 26px;
    font-size: 13px;
  }

  .QAWrap {
    left: 80%;
  }

  .yesNoBtn {
    padding: 12px;
    font-size: 10px;
  }

  .noMonsMsg {
    font-size: 12px;
  }
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

  .gameWrap {
    border: 3px solid #303030
  }

  .pauseMenu {
    left: 70%;
  }

  .dialog {
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  .QAWrap {
    left: 80%;
  }

  .yesNoBtn {
    padding: 12px;
    font-size: 10px;
  }

  .noMonsMsg {
    font-size: 12px;
  }
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */