.dexList {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	margin: 10px;
	grid-template-columns: repeat(1, 1fr);
	background-color: #fafafa;
	border: 2px solid orange;
	border-radius: 0 10px;
}

.listOverview {
	padding: 12px;
	font-size: 9px;
	border-bottom: 1px solid #c6c6c6;
}

.dexListWrap {
	overflow-y: scroll;
	border-radius: 0 8px;
}

.dexListEntryBtn {
	width: 100%;
	border-radius: 0 8px;
}

.dexListItemWrap {
	display: flex;
	align-items: center;
	padding: 6px;
}

.dexTabBtn {
	padding: 5px;
	margin: 5px 0;
}

.dexTabSelection {
	padding: 10px;
}

.dexInfoImgWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 10px 0;
}

.dexInfoPWrap {
	font-size: 8px;
	width: 60%;
	line-height: 12px;
}

.dexImgWrap {
	width: 40%;
	min-height: 130px;
	max-height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid orange;
	border-radius: 0 8px;
	background-color: #e2ffbf;
	padding: 5px;
}

.monDexImage {
	max-height: 150px;
}

.dexMonDescription {
	border: 1px solid orange;
	border-radius: 0 8px;
	background-color: #fafafa;
	padding: 5px;
	font-size: 8px;
	line-height: 15px;
}

.transitoryClass {
	font-size: 9px;
	text-align: center;
}

.dexEntry {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fafafa;
	border: 2px solid orange;
	display: none;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.listOverview {
		justify-content: start;
		font-size: 12px;
	}

	.dexImgWrap {
		min-height: 200px;
		max-height: 200px;
	}

	.monDexImage {
		max-height: 200px;
	}
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.listOverview {
		font-size: 16px;
	}

	.dexInfoPWrap {
		font-size: 12px;
		line-height: 15px;
	}

	.dexImgWrap {
		width: 50%;
		padding: 10px;
		min-height: 250px;
	}

	.dexMonDescription {
		padding: 15px;
		font-size: 12px;
		line-height: 25px;
	}

	.transitoryClass {
		font-size: 12px;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.listOverview {
		font-size: 16px;
	}

	.dexInfoPWrap {
		font-size: 12px;
		line-height: 15px;
	}

	.dexImgWrap {
		width: 50%;
		padding: 10px;
		min-height: 250px;
	}

	.dexMonDescription {
		padding: 15px;
		font-size: 12px;
		line-height: 25px;
	}

	.transitoryClass {
		font-size: 12px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */