.monsterStatus {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fafafa;
	padding: 5px;
	display: none;
	flex-direction: column;
	font-size: 10px;
	z-index: 4;
	border: 2px solid orange;
	background-color: #fff1d8;
}

.tabBtn {
	padding: 5px;
	margin: 0;
}

.statusFlex {
	display: flex;
}

.statusInfoValWrap {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 0 0 0 5px;
	font-size: 8px;
	width: 50%;
}

.infoFlex {
	display: flex;
	align-items: center;
	border: 1px solid orange;
	margin: 1px 0;
	border-radius: 0 8px;
}

.statusInfoKey {
	width: 35%;
	text-align: center;
	background-color: #999;
	border-radius: 6px;
	padding: 3px 0 2px 0;
	color: #fafafa;
	text-shadow: 1px 1px #000;
	margin: 0 5px 0 2px;
}

.statusMemo {
	margin: 6px 0 0 0;
	font-size: 8px;
	background-color: #fafafa;
	border: 1px solid orange;
	border-radius: 0 8px;
}

.statsInfo {
	justify-content: space-between;
	position: relative;
}

.statusStat {
	margin: 0 4px;
}

.statusProgress {
	width: 60% !important;
	height: 4px !important;
	border-radius: 6px;
	border: 1px solid #000;
	color: #28b328;
	margin: 4px 0;
	position: absolute !important;
	bottom: 0 !important;
	right: 0 !important;
}

.xpMemo {
	position: relative;
	width: 50%;
}

.statusXPProgress {
	position: absolute;
	right: 2px;
	width: 60%;
	top: 1px;
}

.xpStatusWrap {
	padding: 4px;
	display: flex;
	flex-direction: column;
}

.xpInfo {
	display: flex;
	justify-content: space-between;
	padding: 1px 0;
}

.nameImgWrap {
	display: flex;
	width: 50%;
	color: #fafafa;
	flex-direction: column;
}

.statusNameLvlWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fafafa;
	background-color: #d8b7ff;
	padding: 7px;
	margin: 2px 0 0 0;
	font-size: 8px;
	text-shadow: 1px 1px #000;
}

.statusImgWrap {
	position: relative;
	border: 4px solid #d8b7ff;
	padding: 2px;
	background-color: #f8f3ff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 130px;
}

.statusImg {
	max-width: 135px;
	max-height: 130px;
}

.statusBall {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.attInfo {
	position: relative;
}

.attAP {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.statusMemo {
		font-size: 9px;
	}

}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.statusNameLvlWrap {
		font-size: 12px;
		text-shadow: 2px 2px #000;
	}

	.statusImgWrap {
		min-height: 250px;
	}

	.statusInfoValWrap {
		font-size: 12px;
	}

	.infoFlex {
		padding: 5px;
	}

	.statusMemo {
		margin: 15px 0 0 0;
		font-size: 12px;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.statusNameLvlWrap {
		font-size: 12px;
		text-shadow: 2px 2px #000;
	}

	.statusImgWrap {
		min-height: 250px;
	}

	.statusInfoValWrap {
		font-size: 12px;
	}

	.infoFlex {
		padding: 5px;
	}

	.statusMemo {
		margin: 15px 0 0 0;
		font-size: 12px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */